*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    transition:200ms;
}
body{
    background:rgb(245,245,245); 
    overflow-x:hidden;
}
.nav-left{
    position:fixed;
    top:0;
    left:0;
    width:16vw;
    background:#01F1B2;
    height:100vh;
    transform:translateX(-100%);
}
.nav-left h2, i{
    color:rgba(0,0,0,0.8);
    font-size:1.1em;
    font-family:'Roboto';
    margin-left:10px;
    font-weight:bold;
}
.logo{
    padding-top:40px;
    height:25%;
}
.logo div{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.logo i{
    margin-left:0px;
    font-size:1.8em;
}
.nav-left nav{
    width:100%;
}
.nav-left ul{
    list-style:none;
    padding:0px 10px;
}
.nav-left li{
    padding:5px;
    margin:20px 0px;
    width:100%;
}
.nav-left a{
    text-decoration:none;
    color:rgba(0,0,0,0.8);
    font-size:1em;
    font-weight:bold;
}
.nav-left span{
    display:block;
    height:3px;
    width:0%;
    margin:auto;
    background:rgba(0,0,0,0.8);
}
.nav-left li:hover span{
    width:100%;
}
.fa-sign-out-alt{
    text-align:center;
}
.header header{
    position:relative;
    background:white;
    width:100%;
    height:180px;
    display:flex;
    justify-content:start;
}
.text-header{
    display:inline-block;
}
.text-header h1{
    font-size:2.2em;
    padding:10px;
}
.text-header p{
    font-size:1em;
    padding:10px 12px;
}
.header-logo{
    padding-top:20px;
    display:flex;
}
.header-logo img{
    width:150px;
    height:150px;
}
.header-user{
    position:absolute;
    right:0px;
    padding:5px 10px;
    text-align:right;
    display:flex;
    align-items:center;
    height:40px;
}
.header-user h6{
    margin:0;
}
.header-user i{
    cursor:pointer;
    font-size:2em;
    color:#E79C07;
}
.header-user i:hover{
    color:#01F1B2;
}
.activate{
    transform:translateX(0%)
}
.card-list{
    width:95%;
    margin:20px auto;
    display:flex;
    flex-wrap:wrap;
}
.card-content:nth-child(even){
    background:#01F1B2;
}
.card-content{
    background:#f9a602;
    width:300px;
    padding:10px;
    border-radius:3px;
    box-shadow:4px 4px 6px rgba(0,0,0,0.1); 
    margin:10px;
    display:flex;
    justify-content:space-between;
}
.true{
    background:rgb(10,10,10);
}
.true *{
    color:rgba(255,255,255,0.8)
}
.true a .i{
    color:rgba(20,255,20,0.9);
}
.true a i:not(.i){
    color:white;
}
.card-subcontent{
  width:90%;
}
.option{
    display:flex;
    flex-direction:column;
    padding:10% 0px;
    height:100%;
}
.option i{
   display:block;
   margin:10px 0px;
   color:black;
   cursor:pointer;
}
.option i:hover{
    font-size:1em;
}
.card-content:hover{
    transform:skew(-1deg,-1deg)
}
.card-content h3{
    font-size:1em;
}
.card-content p{
    font-size:0.8em;
}
.btn-content-menu{
    cursor:pointer;
    margin:20px 20px;
    height:2em;
    width:2em;
    background:#01F1B2;
    border-radius:50px;
}
.btn-content-menu:hover{
    width:2.1em;
    height:2.1em;
}
.activateBtn{
    background:#f9a602;
}
.activateHeader,.activateCard{
    margin-left:20vw;
}
.user-content{
    width:100%;
    padding:40px 0px;
}
.userlist{
    padding:0px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    list-style:none;
    width:90%;
    margin:20px auto;
}
.user-item:nth-child(even){
    background:#f9a602
}
.user-item{
    background:#01F1B2;
    padding:10px 20px;
    margin:10px;
    border-radius:4px;
}
.user-item:hover{
    transform:translate3d(-30px,-10px,20px)
}

.user-header{
    width:100%;
    display:flex;
    align-items:center;
    margin-top:10px;
    margin-bottom:20px
}
.user-header i{
    font-size:2em;
}
.user-item h3{
    padding-top:3px;
    margin-left:20px;
    font-size:1.2em;
}
.user-item h4{
    font-size:1em;
}
.post{
    position:relative;
    width:90%;
    margin:30px auto;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.post-content{
    position:relative;
    background:white;
    margin:40px auto;
    margin-bottom:30px;
    width:90%;
    border-radius:4px;
    /*overflow:hidden;*/
    box-shadow:6px 6px 6px rgba(0,0,0,0.1);
}
.header-post{
    width:100%;
    padding:5px 10px;
    border-bottom:0.5px solid rgba(0,0,0,0.1)
}
.header-post h2{
    font-size:1.3em;
}
.header-post h3{
    font-size:1.5em;
    margin:10px 0;
}
.header-post p{
    margin:0px;
}
.body-post{
    width:90%;
    margin:auto;
}
.img-content{
    width:100%;
}
.img-content img{
  display:block;
  object-fit:cover;
  width:100%;
  margin:20px auto;
  border-radius:4px;
}
.reaction-content{
    width:100%;
    padding:10px 40px;
    display:flex;
    justify-content:space-between;
}
.left-reaction{
    display:flex;
}
.reaction-content a{
    text-decoration:none;
     margin:0px 20px;
}
.reaction-content i{
    display:block;
    font-size:2em;
    color:#01F1B2;
    border-radius:100px;
    cursor:pointer;
}
.left-reaction .like{
    color:rgb(240,10,70);
}
.left-reaction .coments{
    color:#f9a602;
}
.left-reaction .share{
    color:rgb(0,70,255);
}
.reaction-content .report{
    color:rgb(255,10,10);
}
.reaction-content i:hover{
    font-size:2.2em;
}
.fecha{
    position:absolute;
    right:10px;
    padding-top:5px;
    padding-right:5px;
}
.fecha p{
    text-align:right;
}
.content-options{
    position:absolute;
    max-width:20vw;
    left:0;
    right:0;
    top:-40px;
    margin:auto;
    padding:5px 30px;
    background:rgba(255,20,20,0.12);
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.content-options div{
    padding:0px;
    display:inline;
    height:2em;
}
.content-options i,.content-options p{
    color:rgba(255,10,10,0.5);
}
.content-options p{
    transform:scale(0);
    color:rgba(0,0,0,0.8);
}
.content-options div a{
    text-decoration:none;
    text-align:center;
}
.content-options div i:hover{
    color:rgba(255,10,10,0.8);
    font-size:1.2em;
}
.content-options a:hover p{
    transform:scale(1);
}
.error-content{
    width:70%;
    margin:20px auto;
    padding:20px;
    background:rgba(255,20,20,0.1);
}
.error-content h1{
    color:rgb(255,30,30);
    font-size:5em;
    text-align:center;
}
.error-content p{
    font-size:1.3em;
    text-align:center;
}
.error-content ol{
    padding:20px;
}
.error-text{
    margin:5px;
}
.alert-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:fixed;
    z-index:20;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    width:50%;
    height:20vh;
    padding:20px;
    background:rgba(230,255,230,1);
    border-radius:4px;
}
.red{
    background:rgba(255,230,230,1);
}
.alert-content i{
    position:relative;
    z-index:200;
    margin-right:20px;
    color:rgba(255,40,40,0.9);
    font-size:2em;
    cursor:pointer;
}

.red i{
    color:rgba(40,255,40,.9)
}
.alert-content::before{
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    content:'';
    background:rgba(0,0,0,0.13);
    width:100vw;
    height:100vh;
}
.alert-content h6{
    font-size:1.5em;
    color:rgba(20,255,20,0.8);
    text-align:center;
}

.h-login{
    height:inherit;
    display:flex;
    justify-content:space-between;
    padding:5px 10px;
    background:#F9A602;
    margin-bottom:40px;
}
.h-login h1{
    font-size:1.5em;
    padding:inherit;
}
.h-login nav{
    width:30%;
}
.h-login nav ul{
    padding:0;
    display:flex;
    justify-content:space-between;
    padding:5px 10px;
    list-style:none;
}
.h-login a{
    font-weight:bold;
    color:rgba(0,0,0,0.8);
    text-decoration:none;
}
.h-login a:hover{
    color:white;
}