<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControPublic</servlet-name>
        <servlet-class>controllers.sessiones.ControPublic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publicaciones</servlet-name>
        <servlet-class>controllers.publicaciones.publicaciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControPublic</servlet-name>
        <url-pattern>/ControPublic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publicaciones</servlet-name>
        <url-pattern>/publicaciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
